$font : " 'Roboto Slab', serif;";

//colors;
$white:#ffff;
$black: #0000;
$maroon: #83333e;
$off-white:#f2f4f5;

html,body{
    font-family: $font;
    font-size: 21px;
    padding: 0;
    margin: 0;
}

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    width: 1280px;
    min-width: 1280px;
  }
  @media (max-width: 1280px) {
    width: 976px;
    min-width: 976px;
  }
  @media (max-width: 976px) {
    width: 768px;
    min-width: 768px;
  }
}

//Header
header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .logo {
      a {
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 1.5px;
        color: $black;
      }
    }
    .navigation {
      nav {
        a {
          margin: 0 20px;
          text-decoration: none;
          letter-spacing: 1.75px;
          text-transform: uppercase;
          font-size: 0.75rem;
          color: $black;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

//description
.description{
  z-index: 8;
    align-items: center;
    position: relative;
    font-size: 21px;
    top: 30px;
    text-align: center;
    line-height: 1.62;
    padding: 0px 30px;
}


//Banner
.banner {
    display: flex;
    align-items: center;
    background-color: $white;
    position: relative;
    height: 100vh;
    .row {
      position: relative;
      .main-text {
        // font-size: 5.8rem;
        font-size: 50px;
        letter-spacing: 5px;

        text-transform: uppercase;
        // letter-spacing: 42px;
        font-weight: 700;
        color: $white;
        position: absolute;
        width: 100%;
        left: 0;
        top: 120%;
        transform: translateY(-50%);
        text-align: center;
        mix-blend-mode: difference;
        z-index: 9;
        @media (max-width: 1440px) {
          font-size: 40px;
          letter-spacing: 5px;
        }
      }
      .main-image {
         width: 150px;
         border-radius: 50%;
        margin: 0 auto;
        @media (max-width: 1440px) {
          width: 150px;
        }
      }
    }
    .scroll {
      font-weight: 700;
      font-size: 0.875rem;
      letter-spacing: 1.5px;
      color: $black;
      text-transform: uppercase;
      position: absolute;
      bottom: 48px;
    }
  }
  
  //About blurb
  
  .about-blurb {
    padding: 48px 0;
    font-size: 21px;
    background: $white;
    position: relative;
    .inner-blurb {
      display: flex;
      justify-content: center;
      align-items: center;
      .content {
        width: 63%;
        @media (max-width: 1440px) {
          width: 70%;
        }
        h3 {
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.8rem;
          letter-spacing: 1.5px;
          margin: 0;
        }
        p {
          font-size: 1rem;
          line-height: 2rem;
          font-weight: 300;
          margin: 40px 0 72px;
        }
        .btn-row {
          a {
            font-weight: 700;
            font-size: 0.875rem;
            letter-spacing: 1.5px;
            color: $black;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
    
 

    .footer {
      background: $off-white;
      height: 80px;
      font-size: 17px;
      .inner {
        padding: 0 120px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .socials {
          a {
            margin: 0 8px;
          }
        }
      }
    }
  }

  }